---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sobre mim";

const identity = {
  firstName: "Silvia",
  occupation: "Designer de Sobrancelhas",
  business: "estúdio",
  address: "Av. Maurício Cardoso",
  cursos: ["photography", "birdwatching", "baseball"],
};

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }

    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

  <h2>... e o meu trabalho!</h2>
  <p>Olá, meu nome é {identity.firstName} e sou {identity.occupation}.</p>
  <p>Meu {identity.business} fica localizado na {identity.address}</p>
  <h3>Onde tudo começou...</h3>
  <p>
    As sobrancelhas são a moldura do rosto. Minha busca pela formação como
    designer de sobrancelhas partiu da vontade de realçar a beleza de cada um de
    meus clientes.
  </p>

  <p>Outro parágrafo</p>
</BaseLayout>
